<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<th:block th:fragment="footer">
    <footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Контакты</h5>
                    <p class="grey-text text-lighten-4">Email: <a href="mailto:sps@strbnm.ru">sps@strbnm.ru</a></p>
                    <div th:replace="~{fragments/copyright :: copyrights}"></div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                SPS © 2025 Copyright
            </div>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"
            integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</th:block>
</body>
</html>