<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<th:block th:fragment="footer">
    <footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Контакты</h5>
                    <p class="grey-text text-lighten-4">Email: <a href="mailto:sps@strbnm.ru">sps@strbnm.ru</a></p>
                    <div th:replace="~{fragments/copyright :: copyrights}"></div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                SPS © 2025 Copyright
            </div>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"
            integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script th:if="${cart == null}" th:inline="javascript">
        // <![CDATA[
        $(document).ready(function() {
            $('.add-to-cart').on('click', function () {
                const button = $(this);
                const productId = button.data('product-id');

                $.ajax({
                    url: '/cart',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ productId: productId, quantity: 1 }),
                    success: function (response) {
                        const cartAction = button.closest('.cart-action');
                        button.hide(); // Скрываем кнопку "В корзину"

                        // Отображаем блок управления количеством
                        const controls = cartAction.find('.quantity-controls');
                        controls.show();

                        // Устанавливаем новое значение и cart-item-id
                        controls.find('.quantity-input')
                            .val(response.cartItem.quantity)
                            .attr('data-cart-item-id', response.cartItem.id);

                        // Обновляем или создаем cartBadge
                        updateCartBadge(response.cartItemsCount);
                    },
                    error: function () {
                        alert('Ошибка при добавлении в корзину.');
                    }
                });
            });

            $(document).on('click', '.plus, .minus', function (event) {
                event.preventDefault(); // Отключаем переход по ссылке "#"

                const button = $(this);
                const controls = button.closest('.quantity-controls');
                const input = controls.find('.quantity-input');
                let count = parseInt(input.val());

                if (button.hasClass('plus')) count++;
                else count--;

                const cartItemId = input.attr('data-cart-item-id');
                const productId = input.attr('data-product-id');

                $.ajax({
                    url: '/cart',
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: cartItemId, productId: productId, quantity: count }),
                    success: function (response) {
                        const cartAction = controls.closest('.cart-action');

                        if (response.cartItem.quantity === 0) {
                            controls.hide(); // Скрываем блок управления количеством
                            cartAction.find('.add-to-cart').show(); // Показываем кнопку "В корзину"
                            updateCartBadge(-1); // Уменьшаем счетчик корзины
                        } else {
                            input.val(response.cartItem.quantity);
                            updateCartBadge(response.cartItemsCount);
                        }
                    },
                    error: function () {
                        alert('Ошибка при обновлении количества.');
                    }
                });
            });

            // Функция обновления cartBadge
            function updateCartBadge(totalCount) {
                let cartBadge = $('#cartBadge');

                if (cartBadge.length === 0 && totalCount > 0) {
                    // Если cartBadge не существует и корзина не пустая - создаем его
                    $('#cartLink').append(`<span id="cartBadge" class="badge red">${totalCount}</span>`);
                } else {
                    if (totalCount > 0) {
                        cartBadge.text(totalCount);
                    } else {
                        cartBadge.remove(); // Удаляем badge, если товаров больше нет
                    }
                }
            }
        });
        // ]]>
    </script>
    <script th:if="${cart != null}" th:inline="javascript">
        // <![CDATA[
            $(document).ready(function() {
                $(document).on('click', '.plus, .minus', function (event) {
                    event.preventDefault(); // Отключаем переход по ссылке "#"

                    const button = $(this);
                    const controls = button.closest('.quantity-controls');
                    const input = controls.find('.quantity-input');
                    const minusButton = controls.find('.minus');
                    let count = parseInt(input.val());

                    if (button.hasClass('plus')) count++;
                    else count--;

                    const cartItemId = input.attr('data-cart-item-id');
                    const productId = input.attr('data-product-id');

                    $.ajax({
                        url: '/cart',
                        method: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: cartItemId, productId: productId, quantity: count }),
                        success: function (response) {
                            const cartAction = controls.closest('.cart-action');

                            if (response.cartItem.quantity <= 1) minusButton.addClass("disabled"); // Делаем неактивной кнопку уменьшения количества
                            else minusButton.removeClass("disabled");

                            input.val(response.cartItem.quantity);
                            updateCartBadge(response.cartItemsCount);
                            updateСartSummary(response.cartItemsCount, response.cartAmount);
                        },
                        error: function () {
                            alert('Ошибка при обновлении количества.');
                        }
                    });
                });

                // Функция обновления cartBadge
                function updateCartBadge(totalCount) {
                    let cartBadge = $('#cartBadge');

                    if (cartBadge.length === 0 && totalCount > 0) {
                        // Если cartBadge не существует и корзина не пустая - создаем его
                        $('#cartLink').append('<span id="cartBadge" class="badge red">totalCount</span>');
                    } else {
                        if (totalCount > 0) {
                            cartBadge.text(totalCount);
                        } else {
                            cartBadge.remove(); // Удаляем badge, если товаров больше нет
                        }
                    }
                }

                // Функция обновления блока оформления заказа
                function updateСartSummary(quantity, amount) {
                    let cartAmount = $('#cartAmount');
                    let cartTotalQuantity = $('#cartTotalQuantity');

                    if (quantity === 0 && amount === 0) {
                        location.reload();
                    } else {
                        cartAmount.text(amount);
                        cartTotalQuantity.text(quantity);
                    }
                }

                // Обработчик удаления товара из корзины
                $(document).on("click", ".remove-item", function (event) {
                    event.preventDefault(); // Предотвращаем переход по ссылке "#"

                    const button = $(this);
                    const cartItemId = button.attr("data-cart-item-id");
                    const itemRow = button.closest(".cartitem-row");
                    const itemQuantity = parseInt(itemRow.find(".quantity-input").val()) || 1; // Получаем количество удаляемого товара

                    $.ajax({
                        url: "/cart/" + cartItemId,
                        method: "DELETE",
                        success: function (response) {
                            itemRow.fadeOut(300, function () {
                                $(this).remove();
                                updateCartBadge(response.cartItemsCount);
                                updateСartSummary(response.cartItemsCount, response.cartAmount);
                            });
                        },
                        error: function () {
                            alert("Ошибка при удалении товара.");
                        }
                    });
                });

            });
        // ]]>
    </script>
</th:block>
</body>
</html>