<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${'WebStoreApp | ' + title}"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="shortcut icon" th:href="@{/imgs/favicon.ico}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
</body>
</html>