<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<th:block th:fragment="navbar">

    <nav class="nav-extended blue-grey darken-3">
        <div class="nav-wrapper">
            <a th:href="@{/products}" class="brand-logo">
                <img class="logo" th:src="@{/imgs/web-store.png}"/>Витрина интернет-магазина
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light" th:href="@{/cart}">Корзина</a></li>
                <li><a class="waves-effect waves-light" th:href="@{/orders}">Заказы</a></li>
                <li>
                    <a href="#" id="filterBtn"
                       class="waves-effect waves-light sideNav-btn"
                       th:classappend="${currentFilters != null and !currentFilters.isEmpty()} ? 'active' : ''">
                        <i class="material-icons">filter_list</i>
                    </a>
                </li>
            </ul>

            <div id="filterSection" style="display: none;">
                <form th:action="@{/products}" method="get" id="filterForm">
                    <input type="text" name="text" placeholder="Поиск" th:value="${param.text}"
                           oninput="toggleClearButton()"/>
                    <input type="number" name="price_from" placeholder="Цена от" th:value="${param.price_from}"
                           oninput="toggleClearButton()"/>
                    <input type="number" name="price_to" placeholder="Цена до" th:value="${param.price_to}"
                           oninput="toggleClearButton()"/>
                    <input type="text" name="letter" placeholder="Первая буква" maxlength="1" th:value="${param.letter}"
                           oninput="toggleClearButton()"/>

                    <select name="sorting" onchange="this.form.submit()">
                        <option th:each="sortOption : ${sortOptions}"
                                th:value="${sortOption.name()}"
                                th:text="${sortOption.description}"
                                th:selected="${sortOption.name() == selectedSorting}">
                        </option>
                    </select>

                    <input type="hidden" name="size" th:value="${param.size ?: 10}"/>

                    <button type="submit" class="btn">Применить фильтр</button>
                    <button type="button" class="btn" id="clearButton" disabled>Очистить фильтр</button>
                </form>
            </div>
        </div>
    </nav>

</th:block>

</body>
</html>
