<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="feed">
    <ul class="collection">
        <li class="collection-item avatar orders-item-row" th:each="orderItem : ${order.items}">
            <img th:if="${orderItem.productImageUrl == null}" class="circle" th:src="@{/imgs/stub_product_img.png}"
                 alt="placeholder"/>
            <img th:if="${orderItem.productImageUrl != null}" class="circle"
                 th:src="@{/product_image_dir/{img}(img=${orderItem.productImageUrl})}" alt="Product Image"/>

            <span class="title" th:text="${orderItem.productName}"
                  th:attr="onclick='window.location.href=\'' + @{/products/{productId}(productId=${orderItem.productId})} + '\''"
                  style="cursor:pointer;"></span>

            <p th:text="'Цена: ' + ${orderItem.price} + ' руб.'"></p>
            <p th:text="'Количество: ' + ${orderItem.quantity}"></p>
        </li>
    </ul>
</div>

</body>
</html>
